//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across application.

$brand-primary: #F7931D !default;
$brand-event:   #863A6E !default;
$brand-agent:   #5FB643 !default;
$brand-space:   #E2B809 !default;
$brand-project: #F246CF !default;
$brand-opportunity: #5064A5 !default;
$brand-devs:    #9966CC !default;
